* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
}

:root {
    font-size: 16px;
    --skill-bar-color: #000;
    --section-header-background-color: #fff;
    --site-header-separator-color: rgba(0, 0, 0, 0.4);
    --employee-card-header-background-color: #000;
    --card-border-color: #000;
    --employee-card-description-background-color: #fff;
}

body {
    font-family: "Radian", sans-serif;
    background-color: #fff;
    color: #000;
    background-color: #fff;
    color: #000;
}

body.dark-mode {
    background-color: #070707;
    --skill-bar-color: #fff;
    --section-header-background-color: #070707;
    --site-header-separator-color: rgba(255, 255, 255, 0.4);
    --employee-card-header-background-color: transparent;
    --card-border-color: #fff;
    --employee-card-description-background-color: transparent;
    color: #fff;
}

ul {
    list-style: none;
}

a, img, svg {
    display: block;
}

a {
    color: #000;
    text-decoration: none;
}

body.dark-mode a {
    color: #fff;
}

img {
    object-fit: cover;
}

button {
    border: 1px solid #000;
}

body.dark-mode button {
    border: 1px solid #fff;
}

h1 {
    font-family: "Radian Bold", sans-serif;
}

.container--fixed {
    position: absolute;
    top: 0;
    left: 0;
}

.container--whole {
    width: 100%;
    height: 100vh;
}

#site-navigation-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 2;
}

#navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1300px;
    height: 100%;
}

#socials-container {
    width: 125px;
}

#socials-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#socials-container ul:hover li a svg:not(:hover) {
    opacity: 0.25;
}

#socials-container ul li a svg {
    width: 1.5625rem;
    height: 1.5625rem;
}

#navigation-links {
    width: 50%;
}

#navigation-links ul {
    display: flex;
    justify-content: space-between;
}

#navigation-links ul li a {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    padding: 10px 20px;
}

#navigation-links ul li a:not(#link--contact):not(.current-tab):hover {
    opacity: 0.25;
}

#navigation-links ul li a.current-tab {
    opacity: 0.5;
}

#navigation-links ul li a#link--contact {
    border-radius: 50px;
    background-color: #000;
    color: #fff;
}

body.dark-mode #navigation-links ul li a#link--contact {
    background-color: #fff;
    color: #000;
}

#portfolio-intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 750px;
    height: 600px;
}

#intro-name-container {
    width: 100%;
    /* margin-bottom: 0px; */
}

#intro-name-container p {
    font-family: "Radian Light", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: right;
    margin-right: 100px;
}

#intro-name-container h1 {
    font-size: 8.5rem;
    line-height: 7.5rem;
    text-transform: uppercase;
}

#intro-name-container h1[name-align="right"] {
    text-align: right;
}

#portfolio-content #intro-objective-message {
    font-family: "Radian Extra Light", sans-serif;
    font-size: 2rem;
    text-align: center;
}

#intro-ctas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#intro-ctas-container button {
    border-radius: 50px;
    font-size: 2rem;
    text-transform: uppercase;
    width: 47.5%;
    padding: 1.25rem 0;
    cursor: pointer;
}

#intro-ctas-container button#cta--work {
    background-color: transparent;
}

#intro-ctas-container button#cta--work {
    color: #000;
}

body.dark-mode #intro-ctas-container button#cta--work {
    color: #fff;
}

#intro-ctas-container button#cta--contact {
    background-color: #000;
    color: #fff;
}

body.dark-mode #intro-ctas-container button#cta--contact {
    background-color: #fff;
    color: #000;
}

#keyboard-graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#keyboard-container {
    width: 75%;
}

#keyboard-container svg {
    width: 100%;
    opacity: 0.1;
}

body.dark-mode #keyboard-container svg {
    opacity: 0.25;
}

#keyboard-container svg g g path {
    stroke: #000;
    transition: none;
}

#keyboard-container svg g g path:not(.lit-key) {
    fill: #f9f9f9;
}

body.dark-mode #keyboard-container svg g g path {
    stroke: #fff;
}

body.dark-mode #keyboard-container svg g g path:not(.lit-key) {
    fill: transparent;
}

body.dark-mode #keyboard-container svg g g rect {
    stroke: #fff;
}

body.dark-mode #keyboard-container svg g g g line {
    stroke: #fff;
}

.lit-key {
    fill: #FF0000;
}

#main-site-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100vh;
    width: 100%;
}

#intro-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.site-content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.site-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50px;
    flex-basis: 47.5%;
    /* min-height: 660px; */
}

body.dark-mode .site-section {
    border: 1px solid #fff;
}

.site-section .site-section-inner {
    width: 90%;
    min-height: 560px;
    margin: 20px 0;
}

.site-content-container h1.header--center {
    text-align: center;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.site-header-container h1.site-header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    margin: 60px 0 40px;
    z-index: 1;
    background-color: var(--section-header-background-color);
    padding-right: 50px;
}

.site-header-container .site-header--separator {
    position: absolute;
    transform: translateY(1.75rem);
    width: 90%;
    z-index: -1;
}

.site-header-container .site-header--separator hr {
    color: var(--site-header-separator-color);
    border: 1px solid var(--site-header-separator-color);
}

.site-content-container h1.section-header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.site-content-container h1 span {
    background-color: var(--section-header-background-color);
    padding: 0 75px;
}

.site-content-container h1.subsection-header {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#campus-description-container img {
    width: 250px;
    margin-right: 25px;
}

#campus-description-container {
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
}

#intro-container {
    margin-top: 60px;
}

#intro-container p {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

#dev-exp-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#web-dev-exp-container {
    flex-basis: 45%;
}

.exp-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.exp-container p {
    font-size: 1.25rem;
    flex-basis: 50%;
}

.exp-gauge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.exp-gauge-container .exp-gauge-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.exp-gauge-container .exp-gauge-content svg {
    width: 15px;
    height: 15px;
}

.exp-gauge-container .exp-gauge-content svg:not(.skill-met) circle {
    fill: transparent;
    stroke: #000;
    stroke-width: 2px;
}

body.dark-mode .exp-gauge-container .exp-gauge-content svg:not(.skill-met) circle {
    stroke: #fff;
}

.exp-gauge-container .exp-gauge-content svg.skill-met circle {
    fill: #000;
}

body.dark-mode .exp-gauge-container .exp-gauge-content svg.skill-met circle {
    fill: #fff;
}

#software-dev-exp-container {
    flex-basis: 45%;
}

#skills-container {
    margin-top: 25px;
}

.skills-gauge-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.skills-gauge-container p {
    font-size: 1.25rem;
    flex-basis: 50%;
}

.skills-gauge-container span.progress-span {
    flex-basis: 50%;
    height: 6px;
    /* background: linear-gradient(to right, #000 50%, transparent 50%); */
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left-width: 0;
}

body.dark-mode .skills-gauge-container span.progress-span {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#employment-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.employment-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 47.5%;
    border: 1px solid var(--card-border-color);
    border-radius: 50px;
}

.employer-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--employee-card-header-background-color);
    border: 1px solid var(--card-border-color);
    color: #fff;
    width: 100%;
    padding: 2rem 0;
    border-radius: 50px 50px 0 0;
}

.employer-info-container h1 {
    margin-bottom: 5px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
}

.employer-info-container h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    width: 100%;
}

.employer-info-container p {
    margin-bottom: 20px;
}

.employment-links {
    display: flex;
    align-items: center;
}

.employment-links li:not(:last-child) {
    margin-right: 20px;
}

.employment-links li svg {
    width: 25px;
    height: 25px;
}

.employment-links li svg path {
    fill: #fff;
}

.overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    background-color: var(--employee-card-description-background-color);
    border-radius: 0 0 50px 50px;
}

.overlay-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-container-inner {
    width: 85%;
}

.text-container-inner ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: circle outside;
}

.text-container-inner ul li {
    padding-left: 0.75rem;
    margin-bottom: 15px;
}

.text-container-inner ul li a {
    color: #f00;
}

.text-container-inner ul li p {
    font-size: 1.25rem;
}

#download-resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0 0px;
}

#resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 20px 0;
}

#resume-btn:hover {
    background-color: #000;
    color: #fff;
}

#resume-btn:hover svg {
    fill: #fff;
}

#resume-btn svg {
    width: 25px;
    height: 25px;
    margin-right: 50px;
}

#resume-btn p {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

#portfolio-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.portfolio-card {
    border: 1px solid var(--card-border-color);
    border-radius: 50px;
    flex-basis: 30%;
}

.portfolio-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
    height: 150px;
}

.portfolio-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--card-border-color);
    border-radius: 0 0 50px 50px;
    width: 100%;
}

.portfolio-content-inner {
    min-height: 400px;
    width: 90%;
    margin-top: 20px;
}

.project-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name-container h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.project-tech-icons {
    display: flex;
    align-items: center;
}

.project-tech-icons li:not(:last-child) {
    margin-right: 15px;
}

.project-tech-icons li svg {
    width: 25px;
    height: 25px;
}

.portfolio-content-inner p {
    font-size: 1.25rem;
    margin: 30px 0;
}

.portfolio-content-inner .link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-radius: 50px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    margin-bottom: 20px;
}

.link-btn#website-btn {
    background-color: transparent;
    color: #000;
}

.link-btn .btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.btn-content p {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    text-align: center;
    flex-basis: 75%;
}

.btn-content svg {
    width: 25px;
    height: 25px;
    fill: #fff;
}

.link-btn#website-btn .btn-content svg {
    fill: #000;
}

@font-face {
    src: url("https://raw.githubusercontent.com/RunItBack1127/portfolio-website/version-1.1/assets/fonts/Radian/Radian.ttf");
    font-family: "Radian";
}

@font-face {
    src: url("https://raw.githubusercontent.com/RunItBack1127/portfolio-website/version-1.1/assets/fonts/Radian/Radian_Light.ttf");
    font-family: "Radian Light";
}

@font-face {
    src: url("https://raw.githubusercontent.com/RunItBack1127/portfolio-website/version-1.1/assets/fonts/Radian/Radian_ExtraLight.ttf");
    font-family: "Radian Extra Light";
}

@font-face {
    src: url("https://raw.githubusercontent.com/RunItBack1127/portfolio-website/version-1.1/assets/fonts/Radian/Radian_Bold.ttf");
    font-family: "Radian Bold";
}

/* Initial media query for refactoring on desktop */
@media screen and (max-width: 1366px) {
    :root {
        font-size: 14px;
    }

    #site-navigation-desktop {
        height: 75px;
    }

    #portfolio-content {
        transform: translateY(15px);
        height: 500px;
    }

    #main-site-content-container {
        top: calc(100vh + 3.5rem);
    }
}