* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
}

:root {
    font-size: 16px;

    /* Primary colors */
    --primary-color-1: #000;
    --primary-color-2: #fff;
    --primary-color-3: #070707;
    --secondary-color-1: #f00;  /* Required form input */

    /* Fonts */
    --site-font-1: "Radian", sans-serif;
    --site-font-2: "Radian Bold", sans-serif;
    --site-font-3: "Radian Light", sans-serif;
    --site-font-4: "Radian Extra Light", sans-serif;

    --site-border-color: #000;
    --scroll-nav-background-color: #fff;
    --card-header-bottom-border-color: rgba(0, 0, 0, 0.25);
    --section-header-background-color: #fff;
    --site-header-separator-color: rgba(0, 0, 0, 0.4);
    --skill-bar-color: #000;
    --card-border-color: #000;
}

body {
    font-family: var(--site-font-1);
    background-color: var(--site-background-color);
    color: var(--site-content-color);
}

body.dark-mode {
    --site-background-color: var(--primary-color-3);
    --site-content-color: var(--primary-color-2);

    --site-border-color: #fff;
    --scroll-nav-background-color: #000;
    --card-header-bottom-border-color: rgba(255, 255, 255, 0.25);
    --skill-bar-color: #fff;
    --section-header-background-color: #070707;
    --site-header-separator-color: rgba(255, 255, 255, 0.4);
    --card-border-color: #fff;
}

ul {
    list-style: none;
}

h1 {
    font-family: var(--site-font-2);
}

h1, h2, p, a {
    color: var(--site-content-color);
}

a, img, svg {
    display: block;
}

a {
    text-decoration: none;
}

img {
    display: block;
    object-fit: cover;
}

body.dark-mode img.dark-mode-img-flip {
    filter: invert(1);
}

button {
    border: 1px solid var(--site-border-color);
    cursor: pointer;
}

span {
    display: block;
}

.container--fixed {
    position: absolute;
    top: 0;
    left: 0;
}

.container--whole {
    width: 100%;
    height: 100vh;
}

span.navigation-contact,
span.navigation-portfolio,
span.navigation-skills {
    cursor: pointer;
}

#site-navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

#navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1300px;
    height: 100%;
}

#socials-container {
    width: 125px;
}

#socials-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#socials-container ul:hover li a svg:not(:hover),
#socials-container ul:hover li span svg:not(:hover) {
    opacity: 0.25;
}

#socials-container ul li a svg,
#socials-container ul li span svg {
    width: 1.5625rem;
    height: 1.5625rem;
}

#navigation-links {
    width: 50%;
}

#navigation-links ul {
    display: flex;
    justify-content: space-between;
}

#navigation-links ul li span,
#navigation-links ul li a {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    padding: 10px 20px;
}

#navigation-links ul li span:not(#link--contact):not(.current-tab):hover,
#navigation-links ul li a:hover {
    opacity: 0.25;
}

#navigation-links ul li span.current-tab {
    opacity: 0.5;
}

#navigation-links ul li span#link--contact {
    border-radius: 50px;
    background-color: #000;
    color: #fff;
}

body.dark-mode #navigation-links ul li span#link--contact {
    background-color: #fff;
    color: #000;
}

#mobile-nav-container {
    position: absolute;
    top: 12.5px;
    right: 50px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

#mobile-nav-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

#site-navigation-menu-scroll {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100px;
    background-color: var(--scroll-nav-background-color);
    color: var(--site-content-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 500;
    opacity: 0.0;
}

#site-navigation-menu-scroll.show-scroll-menu {
    opacity: 1.0;
}

#scroll-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 100%;
}

#scroll-nav-inner h1 {
    font-family: var(--site-font-2);
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

#scroll-nav-inner nav#scroll-socials-container {
    width: 150px;
}

#scroll-nav-inner nav#scroll-socials-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#scroll-nav-inner nav#scroll-socials-container ul li a svg,
#scroll-nav-inner nav#scroll-socials-container ul li span svg {
    width: 25px;
    height: 25px;
}

#scroll-nav-inner nav#scroll-navigation-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#scroll-nav-inner nav#scroll-navigation-links ul li:not(:last-child) {
    margin-right: 35px;
}

#scroll-nav-inner nav#scroll-navigation-links ul li a,
#scroll-nav-inner nav#scroll-navigation-links ul li span {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

#portfolio-intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 750px;
    height: 600px;
}

#intro-name-container {
    width: 100%;
    /* margin-bottom: 0px; */
}

#intro-name-container p {
    font-family: var(--site-font-3);
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: right;
    margin-right: 100px;
}

#intro-name-container h1 {
    font-size: 8.5rem;
    line-height: 7.5rem;
    text-transform: uppercase;
}

#intro-name-container h1[name-align="right"] {
    text-align: right;
}

#portfolio-content #intro-objective-message {
    font-family: var(--site-font-4);
    font-size: 2rem;
    text-align: center;
}

#intro-ctas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#intro-ctas-container button {
    border: 1px solid var(--site-border-color);
    border-radius: 50px;
    font-size: 2rem;
    text-transform: uppercase;
    width: 47.5%;
    padding: 1.25rem 0;
    text-align: center;
}

#intro-ctas-container button#cta--work {
    background-color: transparent;
    color: var(--site-content-color);
}

#intro-ctas-container button#cta--contact {
    background-color: #000;
    color: #fff;
}

body.dark-mode #intro-ctas-container button#cta--contact {
    background-color: #fff;
    color: #000;
}

#keyboard-graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#keyboard-container {
    width: 75%;
}

#keyboard-container svg {
    width: 100%;
    opacity: 0.1;
}

body.dark-mode #keyboard-container svg {
    opacity: 0.25;
}

#keyboard-container svg g g path {
    stroke: #000;
    transition: none;
}

#keyboard-container svg g g path:not(.lit-key) {
    fill: #f9f9f9;
}

body.dark-mode #keyboard-container svg g g path {
    stroke: #fff;
}

body.dark-mode #keyboard-container svg g g path:not(.lit-key) {
    fill: transparent;
}

body.dark-mode #keyboard-container svg g g rect {
    stroke: #fff;
}

body.dark-mode #keyboard-container svg g g g line {
    stroke: #fff;
}

.lit-key {
    fill: #FF0000;
}

.card-border {
    border: 1px solid var(--site-border-color);
    border-radius: 50px;
}

.card-header-border {
    border-radius: 50px 50px 0 0;
    border-bottom: 1px solid var(--card-header-bottom-border-color);
}

.card-footer-border {
    border-radius: 0 0 50px 50px;
}

#main-site-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100vh;
    width: 100%;
}

#intro-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.site-content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.site-content-container:not(:last-child) {
    margin-bottom: 35px;
}

.intro-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 47.5%;
    min-height: 660px;
}

.intro-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
}

.intro-card .intro-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 560px;
    margin: 20px 0;
}

.site-content-container h1.header--center {
    text-align: center;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.site-header-container h1.site-header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    margin: 60px 0 40px;
    z-index: 1;
    background-color: var(--section-header-background-color);
    padding-right: 50px;
}

.site-header-container .site-header--separator {
    position: absolute;
    transform: translateY(1.75rem);
    width: 90%;
    z-index: -1;
}

.site-header-container .site-header--separator hr {
    color: var(--site-header-separator-color);
    border: 1px solid var(--site-header-separator-color);
}

.site-content-container h1.section-header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.site-content-container h1 span {
    background-color: var(--section-header-background-color);
    padding: 0 75px;
}

.site-content-container h1.subsection-header {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#campus-description-container img {
    width: 250px;
    margin-right: 25px;
}

#campus-description-container {
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
}

.top-intro-container {
    width: 100%;
    min-height: 275px;
}

.lower-intro-container {
    width: 100%;
    margin-top: 20px;
    min-height: 275px;
}

#intro-container p {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

#dev-exp-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#web-dev-exp-container {
    flex-basis: 45%;
}

.exp-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.exp-container p {
    font-size: 1.25rem;
    flex-basis: 50%;
}

.exp-gauge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.exp-gauge-container .exp-gauge-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.exp-gauge-container .exp-gauge-content svg {
    width: 15px;
    height: 15px;
}

.exp-gauge-container .exp-gauge-content svg:not(.skill-met) circle {
    fill: transparent;
    stroke: #000;
    stroke-width: 2px;
}

body.dark-mode .exp-gauge-container .exp-gauge-content svg:not(.skill-met) circle {
    stroke: #fff;
}

.exp-gauge-container .exp-gauge-content svg.skill-met circle {
    fill: #000;
}

body.dark-mode .exp-gauge-container .exp-gauge-content svg.skill-met circle {
    fill: #fff;
}

#software-dev-exp-container {
    flex-basis: 45%;
}

.skills-gauge-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.skills-gauge-container p {
    font-size: 1.25rem;
    flex-basis: 50%;
}

.skills-gauge-container span.progress-span {
    flex-basis: 50%;
    height: 6px;
    /* background: linear-gradient(to right, #000 50%, transparent 50%); */
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left-width: 0;
}

body.dark-mode .skills-gauge-container span.progress-span {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#employment-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.employment-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 47.5%;
}

.employment-card:hover {
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 50px;
}

.employer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    color: #000;
    width: 100%;
    height: 12rem;
}

.employer-info-container h1 {
    margin-bottom: 5px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
}

.employer-info-container h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    width: 100%;
}

.employer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    transform: translateY(-50%);
}

.employer-logo-container img {
    padding: 0 50px;
    background-color: #fff;
}

.employment-links {
    display: flex;
    align-items: center;
}

.employment-links li:not(:last-child) {
    margin-right: 20px;
}

.overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 325px;
    margin: 35px 0;
}

.overlay-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.overlay-container-inner a {
    border: 1px solid var(--site-border-color);
}

.overlay-container-inner a#homepage-container {
    background-color: transparent;
    color: #000;
}

body.dark-mode .overlay-container-inner a#supervisor-container {
    background-color: #fff;
}

body.dark-mode .overlay-container-inner a#supervisor-container p {
    color: #000;
}

.overlay-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.overlay-text-container p {
    font-size: 1.25rem;
    margin-bottom: 75px;
}

#view-resume-container {
    margin-top: 50px;
    width: 100%;
}

#resume-linkedin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    color: #000;
}

#resume-linkedin-container .exp-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 47.5%;
    padding: 25px 0;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50px;
    opacity: 0.5;
}

.exp-btn img {
    width: 30px;
    height: 30px;
    margin-right: 50px;
}

.exp-btn:not(:last-child) {
    margin-right: 50px;
}

#resume-linkedin-container .exp-btn:hover {
    opacity: 1.0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 50px;
}

.exp-btn p {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

#portfolio-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.portfolio-card {
    border: 1px solid var(--card-border-color);
    border-radius: 50px;
    flex-basis: 30%;
}

.portfolio-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 30px;
}

.portfolio-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.portfolio-img-container img {
    width: 50px;
}

.portfolio-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.portfolio-content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 650px;
    width: 90%;
}

.portfolio-content-inner h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    flex-basis: 50%;
    text-align: center;
    min-height: 100px;
}

.portfolio-content-inner .link-btn#website-btn {
    background-color: transparent;
    color: #000;
}

.portfolio-content-inner .link-btn#github-btn .btn-content .content-img img {
    filter: invert(1);
}

body.dark-mode .portfolio-content-inner .link-btn#github-btn {
    background-color: #fff;
}

body.dark-mode .portfolio-content-inner .link-btn#github-btn p {
    color: #000;
}

body.dark-mode .portfolio-content-inner .link-btn#github-btn .btn-content .content-img img {
    filter: unset;
}

.project-tech-icons {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.project-tech-icons li:not(:last-child) {
    margin-right: 30px;
}

.project-tech-icons li img {
    height: 30px;
}

.portfolio-content-inner .project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.portfolio-content-inner p {
    font-size: 1.25rem;
}

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-radius: 50px;
    background-color: #000;
    border: 1px solid var(--site-border-color);
    color: #fff;
}

.link-btn:not(:last-child) {
    margin-bottom: 30px;
}

.link-btn .btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 900px;
}

.btn-content p {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    text-align: center;
    flex-basis: 50%;
}

.btn-content .content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    height: 25px;
}

.btn-content .content-img img {
    width: 25px;
}

/* Skill cards container START */
.skill-card-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-card-row:not(:last-child) {
    margin-bottom: 75px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc(30% + 20px);
    min-height: 250px;
}

.skill-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
}

.skill-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.skill-card-header img {
    width: 50px;
}

.skill-card-header h1 {
    font-size: 1.75rem;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-left: 30px;
    text-align: center;
    flex-basis: 50%;
}

.skill-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

.skill-card-text p {
    width: 75%;
    font-size: 1.25rem;
}

/* .skill-card-text p span.framework-emphasis {
    font-weight: 600;
} */

/* START - Contact container */

#contact-card-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 25px;
}

.contact-card {
    flex-basis: 30%;
}

.contact-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
}

.contact-card .contact-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 150px;
    width: 100%;
}

body.dark-mode .contact-card .contact-card-header {
    background-color: transparent;
}

.contact-card-header h1 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}

.contact-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 425px;
}

.contact-section {
    width: 85%;
    display: flex;
    align-items: center;
}

.contact-section:not(:last-child) {
    margin-bottom: 50px;
}

.contact-section .contact-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 25px;
}

.contact-section img {
    width: 40px;
}

.contact-section p {
    font-size: 1.25rem;
}

.contact-section p span.contact-description {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

#dark-mode-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: var(--dark-mode-btn-background-color);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    z-index: 1000;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    opacity: 0.65;
}

#dark-mode-container:hover {
    opacity: 1.0;
}

#dark-mode-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: transparent;
    border: none;
}

#dark-mode-container button img {
    width: 25px;
    height: 25px;
}

body.dark-mode #dark-mode-container button img {
    filter: invert(1);
}

/* Form style START */

#site-contact-form {
    min-height: 600px;
    flex-basis: 60%;
}

#name-email-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.form-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-field-container.upper-form-container {
    flex-basis: 47.5%;
}

.form-field-container label {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin-bottom: 15px;
}

.form-field-container input {
    border: 1px solid var(--site-border-color);
    border-radius: 25px;
    width: 100%;
    height: 3.5rem;
    padding: 0 20px;
    font-family: var(--site-font-1);
    font-size: 1.25rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 15px, rgba(17, 17, 26, 0.05) 0px 8px 15px;
    opacity: 0.25;
}

.form-field-container input.has-content {
    opacity: 1.0;
}

#subject-container {
    margin-bottom: 40px;
}

#message-container textarea {
    font-family: var(--site-font-1);
    font-size: 1.25rem;
    padding: 10px;
    border: 1px solid var(--site-border-color);
    min-height: 175px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 15px, rgba(17, 17, 26, 0.05) 0px 8px 15px;
    opacity: 0.25;
}

#message-container textarea.has-content {
    opacity: 1.0;
}

#send-clear-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}

#send-clear-container #clear-btn {
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    background-color: transparent;
    color: #000;
    margin-right: 25px;
}

body.dark-mode #send-clear-container #clear-btn {
    color: #fff;
}

#send-clear-container #send-btn {
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    background-color: #070707;
    color: #fff;
}

body.dark-mode #send-clear-container #send-btn {
    background-color: #fff;
    color: #000;
}

.form-required label::after {
    content: '*';
    font-size: 1rem;
    margin-left: 5px;
    position: relative;
    top: -0.25rem;
    color: #f00;
}

#site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #070707;
    border-top: 1px solid #000;
}

body.dark-mode #site-footer {
    border-top: 1px solid #fff;
}

#site-footer #footer-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#footer-contents p {
    font-size: 1rem;
    color: #fff;
}

#footer-contents ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

#footer-contents ul li a svg,
#footer-contents ul li a img {
    width: 25px;
    height: 25px;
}

#footer-contents ul li a svg {
    fill: #fff;
}

#footer-contents ul li a img {
    filter: invert(1);
}

@font-face {
    src: url("https://raw.githubusercontent.com/RunItBack1127/portfolio-website/version-1.1/assets/fonts/Radian/Radian.ttf");
    font-family: "Radian";
}

@font-face {
    src: url("https://raw.githubusercontent.com/RunItBack1127/portfolio-website/version-1.1/assets/fonts/Radian/Radian_Light.ttf");
    font-family: "Radian Light";
}

@font-face {
    src: url("https://raw.githubusercontent.com/RunItBack1127/portfolio-website/version-1.1/assets/fonts/Radian/Radian_ExtraLight.ttf");
    font-family: "Radian Extra Light";
}

@font-face {
    src: url("https://raw.githubusercontent.com/RunItBack1127/portfolio-website/version-1.1/assets/fonts/Radian/Radian_Bold.ttf");
    font-family: "Radian Bold";
}

@media screen and (max-width: 1200px) {
    #site-navigation-menu #navigation-links {
        display: none;
    }

    #mobile-nav-container {
        display: flex;
    }
}

/* Initial media query for refactoring on desktop */
@media screen and (max-width: 1919px) {
    :root {
        font-size: 14px;
    }

    #site-navigation-menu {
        height: 75px;
    }

    #portfolio-content {
        transform: translateY(15px);
        height: 500px;
    }

    #main-site-content-container {
        top: calc(100vh + 3.5rem);
    }

    .site-content-container h1 span {
        padding: 0 50px;
    }
}